<ion-header>
  <ion-toolbar>
    <ion-title>Generar Informe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button (click)="simulatePDFGeneration()">Generar PDF</ion-item>
    <ion-item button (click)="simulateExcelGeneration()">Generar Excel</ion-item>
    <ion-item button (click)="simulateEmailSending()">Enviar por Correo</ion-item>
  </ion-list>
</ion-content>
