.botonListadoCursoAlumno{
    height: 50px;
    width: 94%;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.botonSeccionListadoCursoAlumno {
    margin-top: 8px;    
}

.dropdown-list {
    width: 90%;
    margin: 0 auto;
    max-height: 220px; /* Ajusta la altura máxima según sea necesario */
    overflow-y: auto; /* Habilita el scrollbar vertical si es necesario */
}

.dropdown-list::-webkit-scrollbar {
    width: 0; /* Oculta el scrollbar en Webkit */
    background: transparent; /* Opcional, para ocultar el fondo del scrollbar */
  }  