.asignatura-container {
    margin-bottom: 20px;
  }
  
  .asignatura-card {
    --background: #FFB800; 
    padding: 10px;
  }
  
  ion-button {
    margin-top: 5px;
  }
  
  ion-accordion-group {
    margin-bottom: 10px;
    --background: #FFB800;
  }
  .seccionSeleccionCaja{
    width: 90%;
    margin: 0 auto;
  }
  .tituloSeccion{
    text-align: center;
  }