.botonListadoCursoAlumno{
    width: 100%;
}
.asistenciaAsignaturasItems{
margin: 0;
padding: 0;
margin-bottom: 0%;
}
#CabezaHeader{
    background-color: #1A1A1A;
}
.AsisnaturasListado{
    border-bottom: 1px solid black; --color: #1A1A1A;
}