<ion-header>
  <ion-grid>
    <ion-row style="background-color: #1A1A1A;" >
      <ion-col size="2">
        <ion-button routerLink="/home" class="BotonRegreso">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left; color: white;" >Asistencias Asignaturas</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true"  style="color: white">
  <ion-list>
  
    <ion-item 
      class="asistenciaAsignaturasItems"
      size="large" 
      expand="block" 
      style="border-bottom: 1px solid black; --color: #1A1A1A;" 
      routerLink="/listCurDocDetalle">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="9" >Applicaciones Moviles</ion-col>
            <ion-col size="3">012D</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item 
      class="asistenciaAsignaturasItems"
      size="large" 
      expand="full" 
      style="border-bottom: 1px solid black; --color: #1A1A1A;" 
      routerLink="/listCurDocDetalle">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="9" >Arquitectura</ion-col>
          <ion-col size="3">007D</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item 
      class="asistenciaAsignaturasItems"
      size="large" 
      expand="full" 
      style="border-bottom: 1px solid black; --color: #1A1A1A;" 
      routerLink="/listCurDocDetalle">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="9" >Arquitectura</ion-col>
          <ion-col size="3">008D</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item 
      class="asistenciaAsignaturasItems"
      size="large" 
      expand="full" 
      style="border-bottom: 1px solid black; --color: #1A1A1A;" 
      routerLink="/listCurDocDetalle">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="9" >Calidad de Software</ion-col>
            <ion-col size="3">0012D</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    


  </ion-list>

</ion-content>
