<ion-header id="CabezaHeader" >
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button routerLink="/home" class="BotonRegreso">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left; color: white;" >Asistencias Asignaturas</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true"  style="color: white">
  <ion-list *ngFor="let curso of TodaAsignatura">
    <ion-item *ngFor="let secc of SeccionesPorAsignatura[(curso.id)]" class="asistenciaAsignaturasItems"
    size="large" 
    expand="full" 
    style="border-bottom: 1px solid black; --color: #1A1A1A;" 
    routerLink="/listCurDocDetalle">
      {{ this.lg.nombreAlumno }}
      {{ curso.id }}
      {{ secc.id }}
      {{ secc.Profesor }}
    </ion-item>
  </ion-list>
</ion-content>
