<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listadoCursoDocente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button size="large" style="margin-top: 50px;"   routerLink="/listCurDocDetalle">Asignatura Seccion Horario ejemplo uno  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
</ion-content>
