<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informe Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button size="large" style="margin-top: 50px;" id="present-alert" >Asignatura Seccion Horario ejemplo uno</ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
  <ion-button size="large" style="margin-top: 50px;" >Asignatura Seccion Horario  ></ion-button>
  <p></p>
</ion-content>

<ion-alert
  trigger="present-alert"
  header="Aca va la opcion de tipo de archivo"
  message="Aca si quiere copia al correo"
  [buttons]="alertButtons"
></ion-alert>

