<ion-header  id="CabezaHeader">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button routerLink="/home" style="--background: #FFB800; --color: #ffffff;">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left;" >Asistencias Asignaturas</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="true" style="background-color: #FFFFFF;">
  
  <!-- Lista de asignaturas -->
  <div *ngFor="let curso of TodaAsignatura">
    <div *ngFor="let secc of SeccionesPorAsignatura[(curso.id)]" class="asistenciaAsignaturasItems">
      <ion-item *ngFor="let asignatura of asignaturas" (click)="openModal(asignatura)" style="background-color: #FFFFFF; color: #000000;">
        <ion-card>
          <ion-card-header>
            <h2 style="color: #003366;">{{ curso.id }}</h2>
            <p style="color: #003366;">{{ secc.id }}</p>
          </ion-card-header>
          <ion-icon slot="end" name="checkmark-circle" color="success"></ion-icon>
        </ion-card>
      </ion-item>
    </div>
  </div>
</ion-content>
