<ion-header id="CabezaHeader">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button routerLink="/home" class="BotonRegreso">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left; color: white;" >Toma de Asistencia</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding" style="background-color: #FFFFFF;">
  <ion-card style="background-color: #003366;width: 100%; margin:0 auto" >
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: #ffffff;">
        <h1>
          Asignatura en Proceso
        </h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1 style="text-align: center;color:white " >
        Aplicaciones Moviles
      </h1>
      <ion-button expand="full" class="botonHorarioClase">
        <h2>
          Lunes: 08:30 - 09:50
        </h2>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-button expand="block" style="--background: #1A1A1A; --color: white;" 
        routerLink="/generarQrDocente">
        <h1>
          Generar QR
        </h1>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
