//Inputs
.loginItem{
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  border-bottom: 1px solid black; 
}

// Botonoes GENERAR CODIGO
.login {
  margin-bottom: 10px;
  width: 70%;
  margin: 0 auto;
  height: 40px;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
}