<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cambcont</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item> <ion-input label="Nueva Contraseña" 
      placeholder="Ingresa nueva contraseña" ></ion-input></ion-item>
    <ion-item> <ion-input label="Confirma Nueva Contraseña" 
      placeholder="Confirma nueva contraseña" ></ion-input></ion-item>



    <ion-button style="margin-top: 100px;" expand="block" routerLink="/login">Actualizar Contraseña</ion-button>

  </ion-list>

</ion-content>
