<ion-header id="CabezaHeader" >
  <ion-grid>
    <ion-row >
      <ion-col size="2">
        <ion-button routerLink="/home" 
              style="--background: #FFB800; --color: #ffffff;">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left;color: white;" >Toma de sistencia QR</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content [fullscreen]="true" style="text-align: center;">
  <ion-card  style="margin-top: 30px;"  class="cartaClaseEnProceso" >
    <ion-card-header>
      <ion-card-title>
        <h1 class="TextoClaseProcesoTitulos">
          Asignatura en Proceso
        </h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1   class="TextoClaseProcesoTitulos" >
        Aplicaciones Moviles
      </h1>
      <ion-button class="botonHorarioClase">
        <h2>
          Lunes: 08:30 - 09:50
        </h2>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button  class="botonLecturaQrAlumno" expand="block"
      (click)="presentAlert()">
    <h1>
      Leer QR
    </h1>
  </ion-button>



</ion-content>

