<ion-header id="CabezaHeader" >
  <ion-grid>
    <ion-row >
      <ion-col size="2">
        <ion-button routerLink="/home" 
              style="--background: #FFB800; --color: #ffffff;">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left;color: white;" >Toma de sistencia QR</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Clase en proceso -->
  <div *ngIf="claseEnProceso.length > 0; else noData" class="clase-container">
    <div *ngFor="let a of claseEnProceso" class="clase-card" style="margin-top: 70px;">
      <h1 class="titulo-card">Clase en Progreso</h1>
      <div class="clase-header">
        <h2>{{ a.asignaturaId }}</h2>
        <span class="asignatura">{{ a.seccionId }}</span>
      </div>
      <div class="clase-body">
        <p><strong>Día:</strong> {{ a.dia }}</p>
        <div class="horario">
          <p><strong>Inicio:</strong> {{ a.horaInicio }}</p>
          <p><strong>Fin:</strong> {{ a.horaFin }}</p>
        </div>
      </div>
    </div>
    <ion-button   [disabled]="false" style="--background: #1A1A1A; --color: white;" expand="block"
      (click)="sendSMS()">
    <h1>
      Leer QR
    </h1>
  </ion-button>
  </div>


  <!-- Card para cuando no hay clases -->
  <ng-template #noData>
    <div class="no-clase-card" style="margin-top: 70px;">
      <h1 class="titulo-card">Clase en Progreso</h1>
      <div class="no-clase-content">
        <h2>No hay clases en progreso</h2>
        <p>Por favor, vuelve más tarde para ver las próximas clases.</p>
      </div>
    </div>
    <ion-button   [disabled]="true" style="--background: #1A1A1A; --color: white;" expand="block"
      (click)="sendSMS()">
    <h1>
      Leer QR
    </h1>
  </ion-button>
  </ng-template>
  
  
  </ion-content>