ion-card {
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Fondo blanco para el card */
  }
  
  .input-field {
    --background: #464646; /* Fondo gris claro similar al login */
    --border-radius: 5px; /* Bordes redondeados */
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  ion-label {
    color: #333;
    font-weight: bold;
  }
  
  ion-button {
    margin-top: 16px;
    --border-radius: 5px; /* Botones redondeados */
  }
  