<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/img/logoDuoc.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list expand="block" >
    <ion-item expand="block" > 
        <ion-input class="loginItem" label="Ingresa correo" placeholder="Ingresa correo Duoc UC" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-button  class="login" expand="block" routerLink="/codigocont">Generar codigo</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
