<ion-header id="CabezaHeader">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button routerLink="/listadoCursoDocente" 
              class="BotonRegreso">
          <
        </ion-button>
      </ion-col>  
      <ion-col size="10">
        <h2 style="text-align: left;" >Applicaciones Moviles</h2>
      </ion-col>  
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" >
  
  {{ this.dc.asignaturaDocente }}
  {{ this.dc.nombreDocente }}
  {{ this.dc.seccionDocente }}
  
<div *ngFor = "let s of AlumnosPorSeccion">
    {{ s.id }}
    <div *ngFor = "let d of asistenciaDetalle[(s.id)]">
        {{ d.Fecha.toDate().toLocaleDateString() }}
        {{ d.Estado }}
    </div>
</div>

</ion-content>

