
.cardHeader{
    background-color: #FFD700;
    border: 1.5px solid black;
}


#CabezaHeader{
  background-color: #1A1A1A;
}




ion-list {
  margin: 10px;
}

ion-item {
  background-color: #f0f0f0; // Color de fondo del item
  border-radius: 8px; // Bordes redondeados
  margin: 5px 0; // Margen entre items
  padding: 15px; // Padding interno
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra
  transition: background-color 0.3s;

  &:hover {
    background-color: #e0e0e0; // Color al pasar el ratón
  }
}
ion-modal {
  --background: #fff; // Fondo del modal
  --border-radius: 10px; // Bordes redondeados del modal

  ion-header {
    background-color: #3880c4; // Color de fondo del encabezado del modal
    color: white;

    ion-title {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  ion-content {
    padding: 20px; // Espaciado interno
    font-size: 1em; // Tamaño de fuente
  }

  div {
    margin: 10px 0; // Espaciado entre los elementos de asistencia
    padding: 10px; // Padding interno
    background-color: #f9f9f9; // Color de fondo para los detalles de asistencia
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // Sombra
  }
}
