<!-- Menu de barra lateral  -->
<ion-menu side="end" contentId="main-content" id="MenuCompleto">
  <!-- Cabezera del menu -->
  <ion-header>
    <ion-toolbar id="cabezeraMenu" >
      <ion-title class="NombreUsuario" >{{ aa.tipoUsuario }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Cuerpo del menu -->
  <ion-content id="CuerpoMenu">
    <ion-list>
      <div *ngIf="aa.tipoUsuario === 'Docente'" class="container-fluid">
        <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/listadoCursoDocente')">Lista Curso Docente</ion-item>
        <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/InformesCursoDocente')">Informes Docente</ion-item>
        <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/GenerarQrDocente')">Toma de Asistencia</ion-item>          
      </div>
        <!-- Mostrar botones para alumnos -->
        <div *ngIf="aa.tipoUsuario === 'Alumno'">
          <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/listadoCursoAlumno')">Lista Cursos Alumnos</ion-item>
          <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/QrAlumno')">Lectura QR Alumnos</ion-item>
        </div>
    </ion-list>
  </ion-content>
  <!-- Pie del menu -->
  <ion-footer  id="PieMenu">
    <ion-list>
      <ion-item >
        <ion-grid>
          <ion-row>
            <!-- Cerrar session -->
            <ion-col size="10" id="present-alert"><h6>Cerrar Sesion</h6></ion-col>
            <ion-col size="2"><ion-icon name="alert-circle" style="font-size: 30px;margin-top: 10px;"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>        
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>


<!-- alerta de cerrar session -->
<ion-alert
  trigger="present-alert"
  header="¿Deseas cerrar sesion?"
  [buttons]="alertButtons"
></ion-alert>




<ion-header>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <img src="../../../assets/img/logoDuoc.png" alt="">
        <ion-buttons slot="end">
          <ion-menu-button style="font-size: 60px; color: black;"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- HOLA + NOMBRE + FOTO -->
  <div style="padding-top: 100px;">
      <h1 style="text-align: center;">Hola {{aa.nombreAlumno}} </h1>
  </div>
  <!-- Clase en proceso -->
<div *ngIf="claseEnProceso.length > 0; else noData" class="clase-container">
  <div *ngFor="let a of claseEnProceso" class="clase-card">
    <h1 class="titulo-card">Clase en Progreso</h1>
    <div class="clase-header">
      <h2>{{ a.asignaturaId }}</h2>
      <span class="asignatura">{{ a.seccionId }}</span>
    </div>
    <div class="clase-body">
      <p><strong>Día:</strong> {{ a.dia }}</p>
      <div class="horario">
        <p><strong>Inicio:</strong> {{ a.horaInicio }}</p>
        <p><strong>Fin:</strong> {{ a.horaFin }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Card para cuando no hay clases -->
<ng-template #noData>
  <div class="no-clase-card">
    <h1 class="titulo-card">Clase en Progreso</h1>
    <div class="no-clase-content">
      <h2>No hay clases en progreso</h2>
      <p>Por favor, vuelve más tarde para ver las próximas clases.</p>
    </div>
  </div>
</ng-template>
</ion-content>
