<!-- Menu de barra lateral  -->
<ion-menu side="end" contentId="main-content" id="MenuCompleto">
  <!-- Cabezera del menu -->
  <ion-header>
    <ion-toolbar id="cabezeraMenu" >
      <ion-title class="NombreUsuario" >{{ aa.tipoUsuario }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Cuerpo del menu -->
  <ion-content id="CuerpoMenu">
    <ion-list>
      <div *ngIf="profileCode === 'profe'" class="container-fluid">
        <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/listadoCursoDocente')">Lista Curso Docente</ion-item>
        <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/InformesCursoDocente')">Informes Docente</ion-item>
        <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/GenerarQrDocente')">Toma de Asistencia</ion-item>          
      </div>
        <!-- Mostrar botones para alumnos -->
        <div *ngIf="profileCode === 'alum'">
          <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/listadoCursoAlumno')">Lista Cursos Alumnos</ion-item>
          <ion-item id="BotonHome" expand="block" (click)="navigateAndClose('/QrAlumno')">Lectura QR Alumnos</ion-item>
        </div>
    </ion-list>
  </ion-content>
  <!-- Pie del menu -->
  <ion-footer  id="PieMenu">
    <ion-list>
      <ion-item >
        <ion-grid>
          <ion-row>
            <!-- Cerrar session -->
            <ion-col size="10" id="present-alert"><h6>Cerrar Sesion</h6></ion-col>
            <ion-col size="2"><ion-icon name="alert-circle" style="font-size: 30px;margin-top: 10px;"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>        
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>


<!-- alerta de cerrar session -->
<ion-alert
  trigger="present-alert"
  header="¿Deseas cerrar sesion?"
  [buttons]="alertButtons"
></ion-alert>




<ion-header>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <img src="../../../assets/img/logoDuoc.png" alt="">
        <ion-buttons slot="end">
          <ion-menu-button style="font-size: 60px; color: black;"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- HOLA + NOMBRE + FOTO -->
  <div style="padding-top: 100px;">
      <h1 style="text-align: center;"> Hola {{aa.nombreAlumno}} </h1>
  </div>
  <ion-card style="background-color: black;width: 85%; margin:0 auto" >
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="color: #ffffff;">
        <h1>
          Asignatura en Proceso
        </h1>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1 style="text-align: center;color:white " >
        Aplicaciones Moviles
      </h1>
      <ion-button expand="full" class="botonHorarioClase">
        <h2>
          Lunes: 08:30 - 09:50
        </h2>
      </ion-button>
    </ion-card-content>
  </ion-card>




  <div *ngFor="let a of vecesCombinadas">
    <ion-item>
      {{ a.seccionId }}
      {{ a.asignaturaId }}
      {{ a.alumnoId }}
      {{ a.dia }}
      {{ a.horaInicio }}
      {{ a.horaFin }}
    </ion-item>
  </div>
  <div *ngFor="let a of claseEnProceso">
    <h1>CLASE EN PROGRESO</h1>
    <ion-item>
      {{ a.seccionId }}
      {{ a.asignaturaId }}
      {{ a.alumnoId }}
      {{ a.dia }}
      {{ a.horaInicio }}
      {{ a.horaFin }}
    </ion-item>
  </div>


  







</ion-content>
