
// Botonoes Ingresos
.login {
  margin-bottom: 10px;
  width: 75%;
  margin: 0 auto;
  height: 40px;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
}
//Caja del formulario
.login2 {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
}

//Inputs
.loginItem{
  --inner-border-width: 0;
  border-bottom: 1px solid black; 
  opacity: 0.8;
  margin-bottom: 10px;     /* Espacio entre elementos */
}