.TituloBienvenido{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family:  ARIAL;
  font-weight: bold;
}
// BOTONES 
.login {
  margin-bottom: 10px;
  width: 75%;
  margin: 0 auto;
  height: 40px;
  margin-top: 20px;
  justify-content: center; /* Centra horizontalmente */
}
// INGRESO USUARIO
#IngresoUsuario{
  width: 90%;
  margin: 0 auto;
}
// INGRESO CONTRASEÑA
#IngresoContraseña{
  width: 90%;
  margin: 0 auto;
}