<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/img/logoDuoc.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img src="../../../assets/img/logoRegistrAPP.png" alt="" srcset="">
  </div>
  <div>
    <ion-list>

      <ion-item>
        <ion-input 
          placeholder="Usuario"
          [(ngModel)]="nombre"
          (keydown)="handleKeyDown($event)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          type="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          (keydown)="handleKeyDown($event)">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-button style="margin-left: 33%;" (click)="validar()">Iniciar sesión</ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="block" routerLink="/RecuperarContraseña">Recuperar Contraseña</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
