ion-content {
  --background: #1A1A1A; /* Reemplaza con el color que desees */
}

.login {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;


  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Opcional: centra verticalmente si es necesario */
  margin-bottom: 10px;

}
.login2 {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}