.cuadroQr{
    width: 280px;
    height: 280px;
    background-color: red;
    margin: 0 auto;
    margin-top: 100px;
}
.botonAsistenciaGuardada{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Opcional: centra verticalmente si es necesario */
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.botonAsistenciaGuardada2{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Opcional: centra verticalmente si es necesario */
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
.botonAsistenciaGuardada3{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Opcional: centra verticalmente si es necesario */
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}