.LogoDuoc{
    height: 80px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Opcional: centra verticalmente si es necesario */
    margin: 0 auto;
}
.LogoApp{
    height: 200px;
    height: 200px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Opcional: centra verticalmente si es necesario */
    margin: 0 auto;
}