<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/img/logoDuoc.png" alt="">
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding" >



<ion-card style="width: 100%;margin:0 auto;">
  <!-- Clase actual docente -->
  <div *ngIf="claseActualDocente.length > 0;" class="clase-container">
    <div *ngFor="let j of claseActualDocente" class="clase-card">
      <h1 class="titulo-card">Clase en Progreso</h1>
      <div class="clase-header">
        <h2>{{ j.asignaturaId }}</h2>
        <span class="asignatura">{{ j.seccionId }}</span>
      </div>
      <div class="clase-body">
        <p><strong>Día:</strong> {{ j.dia }}</p>
        <div class="horario">
          <p><strong>Inicio:</strong> {{ j.horaInicio }}</p>
          <p><strong>Fin:</strong> {{ j.horaFin }}</p>
        </div>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-item *ngFor="let alumno of AlumnosPorSeccion | async" lines="full">
      <ion-label>
        <p>{{ alumno.id }}</p>
      </ion-label>
  
      <ion-list *ngIf="AsistenciaPorAlumno[alumno.id]">
        <ion-item *ngFor="let asistencia of AsistenciaPorAlumno[alumno.id]">
            <ion-toggle 
              [checked]="(AsistenciaPorAlumno[alumno.id]?.[0]?.Estado === 'Presente')" 
              [ngStyle]="{
                '--background': (AsistenciaPorAlumno[alumno.id]?.[0]?.Estado === 'Ausente' || AsistenciaPorAlumno[alumno.id]?.[0]?.Estado === 'Pendiente') ? 'red' : 'green'
              }"
              (ionChange)="registrarAsistencia( alumno.id  ,asistencia.id,$event.detail.checked ? 'Presente' : 'Ausente')"
              [disabled]="false"> <!-- Asegúrate de que este valor sea falso para habilitar el toggle -->
            </ion-toggle>
          <ion-label>
            <div *ngIf="asistencia.Estado === 'Pendiente' || asistencia.Estado === 'Ausente'">
              <p>Ausente</p>
            </div> 
            <div *ngIf="asistencia.Estado === 'Presente'">
              <p>Presente</p>
            </div> 
          </ion-label>
        </ion-item>
      </ion-list>
  
      <p *ngIf="!(AsistenciaPorAlumno[alumno.id] && AsistenciaPorAlumno[alumno.id].length)">
        No hay asistencia registrada para hoy.
      </p>
    </ion-item>
  </ion-list>
  
  
  
  
  <!-- Registro de asistencia -->
  <div>
    <ion-button  (click)="showAlerts()" class="botonRegistroAsitencia" >
      <h4>
        REGISTAR ASISTENCIA
      </h4>
    </ion-button>
  </div>
</ion-card>





</ion-content>

