ion-toggle {
  --track-background: #ff0000;
  --track-background-checked: #00ff26;
}
.botonRegistroAsitencia{
  margin-bottom: 10px;
  width: 75%;
  margin: 0 auto;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  justify-content: center; /* Centra horizontalmente */
}