<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/img/logoDuoc.png" alt="">
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding" >



<ion-card style="width: 100%;margin:0 auto;">
  <!-- Clase actual docente -->
  <div *ngIf="claseActualDocente.length > 0;" class="clase-container">
    <div *ngFor="let j of claseActualDocente" class="clase-card">
      <h1 class="titulo-card">Clase en Progreso</h1>
      <div class="clase-header">
        <h2>{{ j.asignaturaId }}</h2>
        <span class="asignatura">{{ j.seccionId }}</span>
      </div>
      <div class="clase-body">
        <p><strong>Día:</strong> {{ j.dia }}</p>
        <div class="horario">
          <p><strong>Inicio:</strong> {{ j.horaInicio }}</p>
          <p><strong>Fin:</strong> {{ j.horaFin }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- CICLO ALUMNOS -->
  <div *ngFor="let k of alumno | async" style="width: 100%;">
    <ion-item class="botonListadoCursoAlumno" style="border-bottom: 1px solid black;">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <h5>
              Alumno {{ k.id }}
            </h5>
          </ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="3" style="text-align: right;">
            <div *ngIf="k.id % 2 == 0; else Ausente">
              <ion-toggle [checked]="true" [disabled]="false"></ion-toggle>
            </div>
            <ng-template #Ausente>
              <ion-toggle [checked]="false" [disabled]="false"></ion-toggle>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
  
  <!-- Registro de asistencia -->
  <div>
    <ion-button  (click)="showAlerts()" class="botonRegistroAsitencia" >
      <h4>
        REGISTAR ASISTENCIA
      </h4>
    </ion-button>
  </div>
</ion-card>




</ion-content>

